stages:
  - pre_check
  - build

variables:
# System environment

# GitLab-CI environment
  # Docker images
  ESP_ENV_IMAGE: "${CI_DOCKER_REGISTRY}/esp-env-v5.3:1"

workflow:
  rules:
    # Disable those non-protected push triggered pipelines
    - if: '$CI_COMMIT_REF_NAME != "main" && $CI_COMMIT_BRANCH !~ /^release\/v/ && $CI_COMMIT_TAG !~ /^v\d+\.\d+(\.\d+)?($|-)/ && $CI_PIPELINE_SOURCE == "push"'
      when: never
    # when running merged result pipelines, CI_COMMIT_SHA represents the temp commit it created.
    # Please use PIPELINE_COMMIT_SHA at all places that require a commit sha of the original commit.
    - if: $CI_OPEN_MERGE_REQUESTS != null
      variables:
        PIPELINE_COMMIT_SHA: $CI_MERGE_REQUEST_SOURCE_BRANCH_SHA
        IS_MR_PIPELINE: 1
    - if: $CI_OPEN_MERGE_REQUESTS == null
      variables:
        PIPELINE_COMMIT_SHA: $CI_COMMIT_SHA
        IS_MR_PIPELINE: 0
    - when: always

################################################
# `before_script` and `after_script` Templates #
################################################
.common_before_scripts: &common-before_scripts |
  source tools/ci/utils.sh

.setup_tools_and_idf_python_venv: &setup_tools_and_idf_python_venv |
  # must use after setup_tools_except_target_test
  # otherwise the export.sh won't work properly

  # Install esp-clang if necessary
  if [[ "$IDF_TOOLCHAIN" == "clang" ]]; then
    $IDF_PATH/tools/idf_tools.py --non-interactive install esp-clang
  fi

  source $IDF_PATH/export.sh

.before_script:build:
  before_script:
    - *common-before_scripts
    - *setup_tools_and_idf_python_venv

include:
  - '.gitlab/ci/build.yml'
