menu "WASMachine Configuration"
    rsource "../components/extended_vfs/Kconfig.wasmachine"
    rsource "../components/wasmachine/Kconfig.wasmachine"
    rsource "../components/shell/Kconfig.wasmachine"
    rsource "../components/extended_wasm_native/Kconfig.wasmachine"
    rsource "../components/wamr/Kconfig.wasmachine"
endmenu
