menu "WASM Micro Runtime"
    config WAMR_ENABLE_AOT
        bool "AOT"
        default n
        depends on WAMR_PLATFORM_AOT_VAILD

    config WAMR_ENABLE_APP_FRAMEWORK
        bool "App Framework"
        default y

    config WAMR_APP_THREAD_STACK_SIZE_MAX
        int "Application thread max stack size"
        default 131072

    choice WAMR_BUILD_TYPE
        prompt "Build type"
        default WAMR_BUILD_RELEASE

        config WAMR_BUILD_RELEASE
            bool "Relase"

        config WAMR_BUILD_DEBUG
            bool "Debug"
    endchoice

    config WAMR_ENABLE_INTERP
        bool "Interpreter"
        default y

    menu "Interpreter Configuration"
        depends on WAMR_ENABLE_INTERP

        choice WAMR_INTERP_MODE
            prompt "Interpreter mode"
            default WAMR_INTERP_CLASSIC

            config WAMR_INTERP_CLASSIC
                bool "Classic"

            config WAMR_INTERP_FAST
                bool "Fast"
        endchoice

        choice WAMR_INTERP_LOADER_MODE
            prompt "Loader mode"
            default WAMR_INTERP_LOADER_NORMAL

            config WAMR_INTERP_LOADER_NORMAL
                bool "Normal"

            config WAMR_INTERP_LOADER_MINI
                bool "Mini"
        endchoice
    endmenu

    config WAMR_ENABLE_LIB_PTHREAD
        bool "Lib Pthread"
        default y

    config WAMR_ENABLE_LIBC_BUILTIN
        bool "Libc builtin"
        default y

    config WAMR_ENABLE_LIBC_WASI
        bool "libc WASI"
        default y

    config WAMR_ENABLE_MEMORY_PROFILING
        bool "Memory profiling"
        default n

    config WAMR_ENABLE_MULTI_MODULE
        bool "Multi module"
        default n

    config WAMR_ENABLE_PERF_PROFILING
        bool "Performance profiling"
        default n

    config WAMR_ENABLE_REF_TYPES
        bool "Reference types"
        default n

    config WAMR_ENABLE_SHARED_MEMORY
        bool "Shared memory"
        default n

    config WAMR_PLATFORM_AOT_VAILD
        bool
        default y if IDF_TARGET_ESP32 && FREERTOS_UNICORE 
        default n
        select ESP32_IRAM_AS_8BIT_ACCESSIBLE_MEMORY if IDF_TARGET_ESP32

endmenu
